body {
    background: linear-gradient(135deg, #0e0e0e, #21262c,rgb(57, 38, 38),rgb(44, 24, 24),#223924,#131313)
}

fieldset {
    color: white;
    border-radius: 30px;
    background-color: rgba(7, 2, 40, 0.5);
    width: 450px;
    box-shadow: 0px 0px 0px 10px rgb(248, 252, 248);
}

.prin{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.Ti{
    padding-top:20px;
    padding-bottom:30px;
    font-family:'Oswald',sans-serif;
    font-size:35px;
    text-align:center;
}

.tamcaixa{
    width:300px;
    margin:auto;
}

